/*#header{text-align:center;}*/

.paragraph{color:darkgrey;}

theader{color:lightgrey;}

/*img{float:right;}*/

div{display:flex;
justify-content:center;}

img{order:1;}

header{display:flex;
    justify-content:center;}

   p{display:flex;
     justify-content:center;} 

body{margin:50px;
     padding:20px;
    width:100%;}


