<!DOCTYPE html>
<html>
  <head>
   <title>Gym Membership Report</title>
   <link rel="stylesheet" href="addStatus.component.css" type="text/css"/>
 </head>
  
  <body>
      <heading id="heading">Gym Membership Report</heading>
    <forms><br><br>
        First Name:
      <select name="Member">
      <option value="#1">Justin</option>
      <option value="#2">John</option>
      <option value="#3">Jim</option>   
      <option value="#4">Sam</option>
      </select>

      <br><br>
      Last Name: 
      <select name ="Member">
          <option value ="#1">Laffer</option>
          <option value ="#1">Smith</option>
          <option value ="#2">Miller</option>
          <option value ="#2">Tredwell</option>
      </select>
    
      <br><br>
      Class: 
      <select name ="Member">
        <option value ="#1">Swim</option>
        <option value ="#2">Cycling </option>
        <option value ="#3">Kickboxing</option>
        <option value ="#4">Pilates</option>
    </select>
    <br><br>
      Attendance: 
      <select name ="Member">
        <option value ="#1">Active</option>
        <option value ="#2">Inactive</option>
        
    </select>
    <br><br>
      <input type="Submit">
    </forms>
  </body>
  <a routerLink ="/addStatus">Add</a>
</html>

